[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = git@github.com:ARM-software/arm-trusted-firmware.git
[submodule "u-boot"]
	path = u-boot
	url = https://source.denx.de/u-boot/u-boot.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "mainline"]
	path = mainline
	url = git://git.launchpad.net/~ubuntu-kernel-test/ubuntu/+source/linux/+git/linus--linux
[submodule "buildroot"]
	path = buildroot
	url = git://git.buildroot.net/buildroot.git
